{% extends 'base.html' %}

{% block title %}
<title>О компании</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>О компании</h1>
    <p> Компания AMOS - крупнейший поставщик систем дымоходов, вентиляционных систем на рынке Беларуси
        Мы ориентированы на удовлетворение потребностей наших клиентов, на предоставление качественных товаров и высокого сервиса обслуживания.
        Мы хотим работать с вами и помогать вам в проектировании, в выборе и монтаже модульных систем дымоходов из нержавеющей стали.
        Вы можете просто позвонить по нашим телефонам, а все остальное сделают для вас наши специалисты.
</p>
</div>
{% endblock %}


